<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.study">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".haveanswer"></activity>
        <activity android:name=".myclass" />
        <activity android:name=".classes" />
        <activity android:name=".classanswer" />
        <activity android:name=".class_information" />
        <activity android:name=".mysave" />
        <activity android:name=".elective2" />
        <activity android:name=".message2" />
        <activity android:name=".answer2" />
        <activity android:name=".about_us" />
        <activity android:name=".rank" />
        <activity android:name=".elective" />
        <activity android:name=".change_information" />
        <activity android:name=".question2" />
        <activity
            android:name=".message"
            android:label="STUDY·我的消息" />
        <activity
            android:name=".myhome"
            android:label="STUDY·个人中心" />
        <activity
            android:name=".begin"
            android:label="STUDY·个人主页" />
        <activity
            android:name=".register"
            android:label="STUDY·注册" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>